/* #my_camera, #my_camera video {
    display: inline-block;
    width: 100% !important;
    margin: auto;
    height: auto !important;
    border-radius: 15px;
} */
#map {
    height: 180px;
}

html {
    scroll-behavior: smooth;
  }