#my_camera, #my_camera video {
    display: inline-block;
    width: 100% !important;
    /* margin: auto; */
    /* height: auto !important; */
    border-radius: 15px; 
}

#map {
    height: 200px;
}

.card-rekap-presence {
    padding: 12px 12px !important;
    line-height: 0.8rem !important;
}

.badge-rekap-presence {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 0.6rem;
    z-index: 500;
}

.icon-rekap-presence {
    font-size: 1.6rem;
}

.txt-rekap-presence {
    font-size: 0.8rem;
    font-weight: 550;
}

.content-profile {
    margin-top: 4rem;
}

.content-master-user {
    margin-top: 70px;
}

.content-pengajuan-izin {
    margin-bottom: 70px;
}

.content-pengajuan-izin-create {
    margin-top: 70px;
}

.datepicker-modal {
    max-height: 430px !important;
}

.datepicker-date-display {
    background-color: #ec4433 !important;
}